.wrapper {
 max-width: 46rem;
 margin: 0 auto;

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

@media (max-width: 768px) {
 html {
  font-size: 87.5%;
 }

 .wrapper {
  padding: 1rem;
 }
}